header {
   padding-bottom: 50px;     
}

body {
    background-image: linear-gradient(to bottom, whitesmoke, rgb(189, 189, 189));    
}

h1 {
    border-radius: 20px 20px 20px 20px;
    border: solid 3px black;
    text-align: center;
    margin: 0px 850px;
    background-color: black;
    color: white;
    font-size: 100px;
    
}

h2 {
    border-radius: 20px 20px 20px 20px;
    border: solid 3px black;
    text-align: center;
    margin: -351px 680px 0px 1200px;
    background-color: black;
    color: white;
    font-size: 100px; 
}

main {
    width: 1000px;
    margin: auto;
    border: solid 3px black;
    padding: 50px;
    padding-top: 0px;
    border-radius: 12% 12%;
}

h3 {
    font-size: 50px;
    border-bottom: black solid 3px;
    text-align: center;
}

li {
    font-size: 20px;
    padding-top: 5px;
}





figure {
    text-align: center;
    border: black dotted 3px;
    margin: auto 300px;
}

.otazka {
    border: black solid 1px;
}

.odpoved {
    border: solid black 1px;
}

table, th, td {
    border: black solid 3px;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

th {
    background-color: grey;
    color: whitesmoke;
}

caption {
    font-size: 1.2em;
    background-color: darkslategrey;
    color: white;
    border: black solid 1px;
    border-radius: 10px;
}

ol#search {
    list-style-type: circle;

}