header {
   padding-bottom: 50px;     
}

body {
    background-image: linear-gradient(to bottom, whitesmoke, rgb(189, 189, 189));    
}

h1 {
    border-radius: 20px 20px 20px 20px;
    border: solid 3px black;
    text-align: center;
    margin: 0px 850px;
    background-color: black;
    color: white;
    font-size: 100px;
    
}

h2 {
    border-radius: 20px 20px 20px 20px;
    border: solid 3px black;
    text-align: center;
    margin: -351px 680px 0px 1200px;
    background-color: black;
    color: white;
    font-size: 100px; 
}

main {
    width: 1000px;
    margin: auto;
    border: solid 3px black;
    padding: 50px;
    padding-top: 0px;
    border-radius: 12% 12%;
}

h3 {
    font-size: 50px;
    border-bottom: black solid 3px;
    text-align: center;
}

li {
    font-size: 20px;
    padding-top: 5px;
}





figure {
    text-align: center;
    border: black dotted 3px;
    margin: auto 300px;
}

.otazka {
    border: black solid 1px;
    padding-top: 25px;
}

.odpoved {
    border: solid black 1px;
}

table, th, td {
    border: black solid 3px;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

th {
    background-color: grey;
    color: whitesmoke;
}

caption {
    font-size: 1.2em;
    background-color: darkslategrey;
    color: white;
    border: black solid 1px;
    border-radius: 10px 10px 0px 0px;
}

ol#search {
    list-style-type: square;

}

.ukaz {
    opacity: 0;
}

.ukaz:hover {
    transition: 600ms;
    opacity: 1;
    text-decoration: underline solid 0.5px black; 
}

table {
    text-align: center;
}

.ano {
    color: green;
    background-color: greenyellow;
}

.ne {
    color: rgb(255, 0, 0);
    background-color: rgb(226, 123, 123);
}

.stred {
    margin: auto auto;
}

.prvni:link, .prvni:visited {
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border: rgb(138, 4, 4) solid ;
    margin-right: 5px;
    margin-bottom: 10px;
}

.prvni:hover, .prvni:active {
    background-color: rgb(138, 4, 4);
}

.druhy:link, .druhy:visited {
    background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border: rgb(3, 63, 3) solid ;
    margin-right: 5px;
    margin-bottom: 10px;
}

.druhy:hover, .druhy:active {
    background-color: rgb(3, 63, 3);
}

.treti:link, .treti:visited {
    background-color: rgb(93, 184, 240);
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border: rgb(36, 36, 240) solid ;
    margin-right: 5px;
    margin-bottom: 10px;
}

.treti:hover, .treti:active {
    background-color: rgb(36, 36, 240);
}

.ctvrty:link, .ctvrty:visited {
    background-color: orange;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border: rgb(160, 110, 18) solid ;
    margin-right: 5px;
    margin-bottom: 10px;
}

.ctvrty:hover, .ctvrty:active {
    background-color: rgb(160, 110, 18);
}

.paty:link, .paty:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border: rgb(71, 71, 71) solid ;
    margin-right: 5px;
    margin-bottom: 10px;
}

.paty:hover, .paty:active {
    background-color: rgb(71, 71, 71);
}

.odsazeni1 {
    text-align: center;
}

.odsazeni2 {
    text-align: center;

}